<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.pollice">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
<!--    android:usesCleartextTraffic="true"-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".AdminViewComplainDetails"></activity>
        <activity android:name=".AdminComplainForOthersView" />
        <activity android:name=".AdminComplainView" />
        <activity android:name=".AdminImmediateComplainView" />
        <activity android:name=".AdminViewUserDetails" />
        <activity android:name=".AdminEditPoliceStation" />
        <activity
            android:name=".UserHome"
            android:theme="@style/Profile" />
        <activity
            android:name=".AdminHome"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".ComplainList" />
        <activity android:name=".ComplainForOther" />
        <activity android:name=".PoliceStationList" />
        <activity android:name=".StartProgressBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ComplainForMe" />
        <activity android:name=".Main" />
        <activity android:name=".Login" />
        <activity android:name=".Register" />
        <activity android:name=".Profile" />
        <activity android:name=".Complain" />
        <activity android:name=".ForgetPassword" />
        <activity android:name=".ChangePassword" />
        <activity android:name=".ChangePhoto" />
        <activity android:name=".ChangeDetails" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>